* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #ffffe6;
	margin: 10px auto;
}

.content_main_container {
  background-color: #e6ffb3;
	margin: 0 auto;
	width: 1300px;
}

.footer {
  background-color: green;
  height: 150px;

}

.midsection {

  width: 1300px;
  margin: 0 auto;
}


.titles {
  font-size: 10pt;
}

.nav {
  background-color: #9999ff;
  width: 50%;
  float: left;
  height: 350px;
  border: 2px solid red;
}

.header_main_container {
	position: relative;
	background-color: #d5ff80;
	margin: auto;
	width: 1300px;
	padding-bottom: 2px;
}

.header_logo_container {
	height: 100px;
}

.logo_container {
  width: 50%;
	height: 50px;
	float: left;
}

.header_nav_container {
  width: 100%;
  background-color: #cccc00;
}

.header_nav_box {
  background-color: #cccc00;
	margin: 0px;
	position: relative;
	display: inline-block;
}

#right {

	float: right;
	margin-top: 75px;
	margin-right: 15px;

}

.header_nav_container a {

	background-color: #cccc00;
	text-decoration: none;
	position: relative;
	display: inline-block;
	padding: 15px;

}

.header_nav_container a:hover {
	background-color: #ffff80;
}

.slogan_container {
  width: 50%;
  height: 100px;
  float: right;
}

.discover {

	width: 40%;
	padding-bottom: 25px;
	margin-top: 20px;
}

#discover_plants {

	width: 40%;
	float: left;
	margin-left: 70px;

}

#discover_botany {

	width: 40%;
	float: right;
	margin-right: 70px;

}

.center_it {
	text-align: center;
}

.info_box {
	padding: 15px;
}

#center_it {
	border: 5px double grey;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#banner_img {
	padding-bottom: 0px;
	height: 200px;
}


div#footer_main_container {
	clear: both;
	background-color: #666600;
	margin: auto;
	width: 1300px;
}

.footer_box {
	padding-top: 15px;
	width: 33.33%;
	float: left;
	display: block;
	padding-bottom: 15px;
}

.footer_box li {
	list-style-type: none;
	text-align: center;
	color: white;
}

.aboutleft {
	width: 250px;
	height: 300px;
	float: left;
	background-color: red;
}

.aboutright {
	width: 700px;
	margin: auto;

	background-color: green;
}
